:root {
  --color-gray-99: hsl(200deg 10% 99%);
  --color-gray-97: hsl(200deg 10% 97%);
  --color-gray-93: hsl(200deg 10% 93%);
  --color-gray-90: hsl(200deg 10% 90%);
  --color-gray-80: hsl(200deg 10% 80%);
  --color-gray-70: hsl(200deg 10% 70%);
  --color-gray-40: hsl(200deg 10% 40%);
  --color-gray-30: hsl(200deg 10% 30%);
  --color-gray-20: hsl(200deg 10% 20%);
  --color-gray-16: hsl(200deg 10% 16%);
  --color-gray-12: hsl(200deg 10% 12%);
  --color-gray-10: hsl(200deg 10% 10%);

  --color-surface-300: var(--color-gray-93);
  --color-surface-400: var(--color-gray-97);
  --color-surface-700: var(--color-gray-99);

  --color-text-400: var(--color-gray-10);
  --color-text-700: var(--color-gray-40);

  --color-primary: hsl(200deg 90% 46%);
  --color-primary-fade: hsl(200deg 90% 96%);
  --color-primary-lighter: hsl(200deg 90% 50%);
  --color-primary-darker: hsl(200deg 90% 42%);
  --color-primary-opposite: var(--color-gray-99);

  --color-danger: hsl(10deg 80% 48%);
  --color-danger-fade: hsl(10deg 80% 96%);
  --color-danger-lighter: hsl(10deg 80% 52%);
  --color-danger-darker: hsl(10deg 80% 44%);
  --color-danger-opposite: var(--color-gray-99);

  --color-star: hsl(50deg 100% 50%);

  --color-border: var(--color-gray-80);
}
